:root{
    --Soft_blue: hsl(215, 36%, 60%);
    --Cyan: hsl(178, 100%, 50%);
    --main_dark_blue: hsl(217, 54%, 11%);
    --card_dark_blue: hsl(216, 50%, 16%);
    --line_dark_blue: hsl(215, 32%, 27%);
    --White: hsl(0, 0%, 100%);
}

@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');

body{
    font-family: 'Outfit', sans-serif;
    background-color: var(--main_dark_blue);
}

.container-all{
    margin-top: 13%;
    margin-bottom: 13%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-content{
    padding: 1.5em;
    display: flex;
    flex-direction: column;
    width: 80%;
    border: 0px solid white;
    border-radius: 20px;
    box-shadow: 5px 5px 30px hsl(216, 49%, 11%), 5px 5px 30px hsl(216, 50%, 16%);
    background-color: var(--card_dark_blue);
}

.image-equilibrium{
    border-radius: 10px;
}

.title-and-description{
    color: var(--White);
}

.title{
    font-size: 1.5rem;
    font-weight: 600;
}

.title-and-description p{
    font-size: 1rem;
    font-weight: 300;
    line-height: 1.5;
    color: var(--Soft_blue);
}

.price-and-daysleft{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.price-eth{
    display: flex;
}

.price{
    margin-left: 8px;
    font-weight: 600;
    color: cyan;
}

.price-and-daysleft p{
    margin-top: 0;
}

.clock-days{
    display: flex;
}

.days-left{
    margin-left: 8px;
    color: var(--Soft_blue);
}

.line{
    border: 1px solid var(--Soft_blue);
}

.footer-card{
    margin-top: 1.5em;
    display: flex;
    align-items: center;
}

.footer-card span{
    color: var(--White);
}

.ml{
    color: var(--Soft_blue);
}

.avatar{
    margin-right: 17px;
    outline: 2px solid var(--White);
    border-radius: 50%;
    width: 2.2em;
}

.footer-card p{
    margin: 0;
}

.attribution{
    position: relative;
    bottom: 0;
    font-size: 11px;
    text-align: center;
}

.attribution a{
    color: hsl(228, 45%, 44%);
}

@media only screen and (min-width: 768px){
    .container-all{
        margin-top: 8%;
        margin-bottom: 8%;
    }
    .container-content{
        width: 55%;
    }
}

@media only screen and (min-width: 900px){
    .container-all{
        margin-top: 7%;
        margin-bottom: 7%;
    }
    .container-content{
        width: 35%;
    }
}

@media only screen and (min-width: 1024px){
    .container-all{
        margin-top: 6%;
        margin-bottom: 6%;
    }
    .container-content{
        width: 30%;
    }
}

@media only screen and (min-width: 1200px){
    .container-content{
        width: 22%;
    }
}